.groupspage-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #1A1A1A;
  color: #E0E0E0;
}

.groupspage-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.groups-list {
  margin-top: 20px;
}

.group-item {
  background-color: #222;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.group-item h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.group-item p {
  font-size: 1.1rem;
}

.group-item a {
  color: #E0E0E0;
  text-decoration: none;
  font-weight: bold;
}

.group-item a:hover {
  color: #bbb;
}


.join-group-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.join-group-container input {
  padding: 8px;
  border: 1px solid #333;
  background-color: #222;
  color: #E0E0E0;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
}

.join-group-container button {
  padding: 8px 15px;
  background-color: #6C63FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-group-container button:hover {
  background-color: #5750d0;
}

.join-error-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c12020;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 3s forwards;
}

.join-error-message p {
  margin: 0;
}

.join-error-message.hide {
  opacity: 0;
}