.transactions-list {
  background-color: #111;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 0 auto;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: #222;
  font-weight: bold;
  border-bottom: 2px solid #444;
  color: #f0f0f0;
  text-transform: uppercase;
  font-size: 14px;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  border-bottom: 1px solid #333;
  color: #ddd;
  transition: background-color 0.2s ease;
}

.transaction-item:nth-child(odd) {
  background-color: #1a1a1a;
}

.transaction-item:nth-child(even) {
  background-color: #161616;
}

.transaction-item:hover {
  background-color: #333;
}

.transaction-item div,
.transaction-header div {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transaction-item div:first-child,
.transaction-header div:first-child {
  text-align: left;
}

.transaction-item div:last-child,
.transaction-header div:last-child {
  text-align: right;
}

.transaction-header div {
  cursor: pointer;
  padding: 10px;
}

.transaction-header div span {
  font-size: 12px;
  color: gray;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.delete-btn,
.edit-btn {
  display: block;
  padding: 5px 8px;
  background-color: #e03e3e;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 50px;
  width: fit-content;
  margin-left: auto;
  text-align: center;
}

.delete-btn:hover {
  background-color: #5750d0;
}

.edit-btn {
  background-color: #007bff;
}


.filters input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #888;
  background-color: #1f1f1f;
  color: #f0f0f0;
  min-width: 150px;
}

.filters button {
  padding: 8px 16px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filters button:hover {
  background-color: #777;
}

.filters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.filter-group {
  display: flex;
  flex-direction: column;
}

.filter-group label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.filters-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.filters-wrapper.show {
  max-height: 500px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}


.filter-toggle-btn {
  background: none;
  border: none;
  font-size: 24px; 
  cursor: pointer;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.filters-wrapper {
  width: 750px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  padding-bottom: 20px;
}


.filters-wrapper.show {
  max-height: 500px;
  opacity: 1;
}

.filter-toggle-btn i {
  transition: transform 0.3s ease;
}

.white-icon {
  color: white;
}


.reset-filters-btn {
  background-color: #d67676; 
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 670px;
}

.reset-filters-btn:hover {
  background-color: #ff3333; 
}


.export-btn {
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}
.export-btn:hover {
  background-color: #0056b3;
}
