.groupdetailpage-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #1A1A1A;
  color: #E0E0E0;
}

.groupdetailpage-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.join-code-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  margin: 20px 0;
  cursor: pointer;
  border: 1px solid #444;
}

.join-code-container:hover {
  background-color: #444;
}

.join-code-label {
  font-size: 1.2rem;
  font-weight: bold;
}

.join-code {
  font-size: 1.5rem;
  color: #4CAF50;
}

.copy-success {
  color: #4CAF50;
  font-size: 1rem;
  margin-top: 10px;
}

.members-list {
  margin-top: 20px;
}

.member-item {
  background-color: #222;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.member-item h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.member-item p {
  font-size: 1rem;
  margin: 5px 0;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #E0E0E0;
}

.back-link:hover {
  color: #bbb;
}

.owner-badge {
  background-color: #4caf50;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 12px;
  margin-left: 8px;
  display: inline-block;
  text-transform: uppercase;
  transform: translate(0, -4px);
}

.create-group-btn {
  padding: 10px 20px;
  background-color: #6C63FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin: 20px auto;
  display: block;
}

.create-group-btn:hover {
  background-color: #5750d0;
}

.copy-success-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.view-mode-toggle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.view-mode-toggle button {
  padding: 10px 20px;
  font-size: 16px;
  color: #E0E0E0;
  background-color: #222;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-mode-toggle button:hover {
  background-color: #333;
  border-color: #444;
}

.view-mode-toggle button.active {
  background-color: #6C63FF;
  border-color: #5750d0;
  color: #fff;
}