body {
  background-color: #1A1A1A;
  color: #E0E0E0;
}

.navbar {
  background-color: #222;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

.navbar a:hover {
  color: #bbb;
}

.homepage-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.homepage-container h1,
.homepage-container h2,
.homepage-container p {
  color: #E0E0E0;
}

.info-section,
.transactions-section {
  background-color: #111;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  /* text-align: center; */
}

.info-section h1,
.transactions-section h1 {
  text-align: center;
  color: #ddd;
}

.info-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.info-section p,
.info-section ul {
  font-size: 1.1rem;
}

.info-section ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.info-section ul li {
  display: flex;
  align-items: center;
  background-color: #222;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  color: #E0E0E0;
}

.info-section ul li::before {
  content: '•';
  color: #bbb;
  font-size: 1.5rem;
  margin-right: 10px;
}

.transactions-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #333;
  color: #CCCCCC;
}

.transaction-item div {
  flex: 1;
  text-align: center;
}

.transaction-item div:first-child {
  text-align: left;
}

.transaction-item div:last-child {
  text-align: right;
}

a {
  text-decoration: none;
  color: #E0E0E0;
}