.purpose-item {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;

}

.purpose-item div {
  flex: 1;
  font-size: 26px;
  margin-top: 25px;
}

.purpose-item:nth-child(odd) {
  background-color: #1a1a1a;
}

.purpose-item:nth-child(even) {
  background-color: #161616;
}

.purpose-item:hover {
  background-color: #333;
}